<div class="bg-blue-950  h-screen" [ngStyle]="{'background-color': backgroundColor}">
<div class="flex flex-col pt-20 pb-4 ">
	<p class="text-xl text-white  ml-8 font-bold ">Information about your subscription</p>
	<p class="text-zinc-300 ml-8">By placing your order, you agree to Fryrvest AB <u>Terms and Conditions</u> and <u>Private Policy</u></p>
</div>
<div class="bg-white rounded-lg border-2 justify-center ml-8 mr-8 ">
	<div class="flex flex-col px-12 text-center">
		<p>To pay</p>
		<p class="font-extrabold text-3xl">1,50 kr</p>
	</div><hr>
	<div>
	<p class="px-4 p-4 font-bold text-sm text-gray-800">Order Summary</p>
	<div class="px-4 ">
		<div class=" flex flex-row justify-between mb-2">
		<p class="text-gray-500 text-sm">Order ID</p>
		<p class="text-black font-extrabold text-sm">82d75ba4e4e6d0060b</p>
		</div>
		<div class="flex flex-row justify-between mb-4">
		<p class="text-gray-500 text-sm">Order Date</p>
		<p class="text-black font-extrabold text-sm">8 Jan 2025, 11:17</p>
		</div>
	</div>	
	</div><hr>
	<div class="px-4">
		<div class="flex flex-row justify-between mb-2">
		<p class="text-gray-500 text-sm">VAT (10%)</p>
		<p class="text-black font-extrabold">0,15kr</p>
		</div>
	</div>
	<div class="flex flex-col px-4">
		<p class="text-gray-700 text-sm font-bold">Your subscription</p>
		<div class="flex flex-row">
		<p class="font-extrabold text-3xl pr-2">1,50kr</p>
		<p class="text-gray-500">/Daily</p>
		</div>
	</div>
</div>
<div class="pt-2 px-8">
	<div class="bg-white rounded-lg border-2 shadow-2xl">
		
	
	</div>
</div>

</div>













