 <div class="flex flex-row h-screen">

<div class="bg-zinc-950  h-screen w-32">
<h1 class="text-2xl font-bold">Nav Bar</h1>
<div class="flex flex-col items-start">
<label for="logo-upload" class="font-medium text-lg text-white">Upload Logo</label>
<input type="file" id="logo-upload" (change)="onLogoUpload($event)" class="mt-2i text-sm text-gray-700 file:border file:bg-blue-100 file:text-blue-700 file:px-3 file:py-2 file:rounded-md file:cursor-pointer" />
</div>

<div class="flex flex-col items-start">
<label for="header-color" class="font-medium text-lg text-white">Background Color</label>
<input type="color" id="header-color" [(ngModel)]="backgroundColor" (input)="updateBgColor(backgroundColor)" class="mt-2 p-2 border rounded-md"/>
</div>

<div class="flex flex-col items-start">
<label for="footer-color" class="font-medium text-lg text-white">BrandColor</label>
<input type="color" id="brand-color" [(ngModel)]="brandColor" (input)="updateBrandColor(brandColor)" class="mt-2 p-2 border rounded-md"/>
</div>

<div class="flex flex-col items-start">
<label for="accent-color" class="font-medium text-lg text-white">Accent Color</label>
<input type="color" id="button-color" [(ngModel)]="accentColor" (input)="updateAccentColor(accentColor)" class="mt-2 p-2 border rounded-md"/>
</div>

<div class="flex flex-col items-start">
<label for="font-family" class="font-medium text-lg text-white">Font Family</label>
<select id="font-family" [(ngModel)]="fontType" (change)="updateFontType(fontType)"  class="mt-2 p-2 border rounded-md bg-white text-gray-700">
        <option value="Arial, sans-serif">sans-serif</option>
        <option value="Courier New, Courier, monospace">mono</option>
        <option value="Georgia, serif">serif</option>
</select>


</div>
</div>


<div class="flex flex-row w-34">
<div class="">
<app-mock-component class=""  [backgroundColor]="backgroundColor"></app-mock-component>
</div>
<div class="mt-10 w-34 h-screen ">
<h1 class="text-2xl font-bold">Test Changes</h1>
</div>

</div>














